@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

section {
    height: 90vh;
    width: 45vh;
    background: #ffffff;
    margin: 2rem;
}

.title {
    height: 20vh;
    width: 90%;
    margin-left: 10px;
}

h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 90px;
    color: #1D1E30;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #1D1E30;
    margin-top: -22px;
}

.lfg {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.lfg-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

i {
    margin: 3px;
}

#div1 {
    height: 70px;
    width: 100%;
    background-color: blue;
    font-size: 48px;
}


